# ignore env & heavy artifacts
.venv/
venv/
__pycache__/
*.pyc

# data / pcaps
data/
*.pcap
*.pcapng

# models / checkpoints / results
models/
backup_models/
results/

# large libraries
*.so

# editor / OS
.vscode/
.idea/
.DS_Store
